/* You can add global styles to this file, and also import other style files */
.underlineLink {
  text-decoration: underline;
  color: #00C2FF;
}

.background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.inputField {
  position: relative;
  display: block;
  border-width: 0.2vw;
  font-size: 1vw;
  border-radius: 0.4vw;
  padding: 3%;
  background: none;
  border-color: #00C853;
}

.label{
  margin-bottom: -10vh;
}

.button {
  border-width: 0.2vw;
  background: none;
  border-radius: 0.4vw;
  cursor: pointer;
  border-color: #00C853;
  font-size: 1vw;
}

.toggleDM{
  position: absolute;
  top: 65%;
}

.button-round {
  color: white;
  text-align: center;
  align-items: center;
  background: none;
  border-radius: 80px;
  cursor: pointer;
  border-color: #00C853;
}

.left-colum {
  text-align: left;
  height: min-content;
}

.right-colum {
  text-align: right;
  height: min-content;
}

.debug {
  border: 2px solid red;
}
