/* You can add global styles to this file, and also import other style files */
.underlineLink {
  text-decoration: underline;
  color: #00C2FF;
}

.background {
  left: 0;
  position: absolute;
  width: 100%;
  height: 92%;
  min-width: 100%;
  min-height: 90%;
}

.inputField {
  display: block;
  padding: 5px;
  margin-top: -5px;
  width: 219px;
  height: 28px;
  margin-bottom: 15px;
  background: none;
  border-radius: 5px;
  border-color: #00C853;
}

.button {
  font-size: 12px;
  padding: 8px;
  width: 219px;
  height: 37px;
  margin-top: 20px;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  border-color: #00C853;
}

.toggleDM{
    margin: 30px;
    width: 100px;
    height: 80px;
}

.button-round {
  color: white;
  text-align: center;
  align-items: center;
  background: none;
  border-radius: 80px;
  cursor: pointer;
  border-color: #00C853;
}

.left-colum {
  text-align: left;
  height: min-content;
}

.right-colum {
  text-align: right;
  height: min-content;
}

.debug {
  border: 2px solid red;
}
