<div class="container">
  <div class="card-body">
    <p class="content">{{joke.premise}}</p>
    <button [ngClass]="spoiler" (click)="revealSpoiler()">
      <p class="punchline" [style.visibility]="punchlineVisibility">{{joke.punchline}}</p>
    </button>

    <div class="grid-container content">
      <p class="sideNote left-colum">{{joke.uploadDate}}</p>
      <p class="sideNote right-colum">127.0.0.1</p>
    </div>
  </div>


  <div class="card-footer">
    <button class="button-round content image-round"><img src="../../../resources/Thumb_up.png" /></button>
    <div class="display-likes">{{joke.likes - joke.dislikes}}</div>
    <button class="button-round image-round"><img src="../../../resources/Thumb_down.png"/></button>

    <div class="content tags">
      <button class="button-round tag">asd</button>
      <button class="button-round tag">asd</button>
      <button class="button-round tag">asd</button>
      <button class="button-round tag">asd</button>
      <button class="button-round tag">asd</button>
      <button class="button-round tag">asd</button>
    </div>
  </div>
</div>
