<div class="background" [style.background-color]="bgColor">
  <div class="registrationArea" [style.color]="fgColor">
    <h2 [style.color]="fgColor">Register</h2>
    <form class="registerForm">
      <table>
        <tr>
          <th>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="inputField spacing" required/>
          </th>
          <th>
            <label for="dateOfBirth">Date of birth(DD/MM/YYYY)</label>
            <input type="text" name="dateOfBirth" id="dateOfBirth" class="inputField spacing" required />
          </th>
        </tr>
        <tr>
          <td>
            <label for="password">Password</label>
            <input type="text" name="password" id="password" class="inputField spacing" required />
          </td>
          <td>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="inputField spacing" required />
          </td>
        </tr>
        <tr>
          <td>
            <label for="retypePassword">Retype Password</label>
            <input type="text" name="retypePassword" id="retypePassword" class="inputField spacing" required />
          </td>
          <td>
            <div class="NSFW">
              <label class="switch NSFWLabel" >NSFW?
                <input type="checkbox" >
                <span [ngClass]="sliderClass"></span>
              </label>
             </div>
          </td>
        </tr>
      </table>
      <br />
      <button class="button center" type="submit" [style.color]="fgColor">Register</button>
    </form>
  </div>
</div>

