.container {
  position: relative;
  margin-top: 10%;
  left: 10px;
  height: 80%;
  width: 50%;
}

h2 {
  font-size: 3vw;
}

p {
  font-size: 1vw;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 2vh;
  grid-column-gap: 1vw;
}

.slider {
  margin-top: 3%;
}

.inputField{
  width: 19vw;
  height: 4.5vh;
}

.button {
  margin-top: 7%;
  left: 40%;
  width: 20%;
  height: min-content;
  padding: 1.5%;
}

.registrationArea {
  position: relative;
  font-style: normal;
  font-weight: 400;
  margin-left: 3vw;
  width: min-content;
}

.registerForm{
  font-size: 0.85vw;
  margin-top: 6%;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
}

.options {
  position: relative;
  margin-top: 3vh;
}
