.registrationArea {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  left: 430px;
  top: 90px;
  width: 600px;
  height: min-content;
  padding: 20px;
}

.registerForm{
  margin-top:30px;
}

.NSFW {
  margin-top: -30px;
}

.switch input {
  display:block;
  width: 0;
  height: 0;
}

.slider {
  margin-top: 4px;
  position: absolute;
  cursor: pointer;
  width: 60px;
  height: 25px;
  border: 2px solid #00C853;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #00C853;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(37px);
  -ms-transform: translateX(37px);
  transform: translateX(37px);
}


.sliderDark {
  margin-top: 4px;
  position: absolute;
  cursor: pointer;
  width: 60px;
  height: 25px;
  border: 2px solid #00C853;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.sliderDark:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .sliderDark {
  background-color: #00C853;
}

input:focus + .sliderDark {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderDark:before {
  -webkit-transform: translateX(37px);
  -ms-transform: translateX(37px);
  transform: translateX(37px);
}

.spacing{
   margin-right:10px;
}

.center {
  margin: 0px 130px;
}
