.registrationArea {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  left: 430px;
  top: 90px;
  width: 600px;
  height: min-content;
  padding: 20px;
}

.registerForm{
  margin-top:30px;
}

.spacing{
   margin-right:10px;
}

.center {
  margin: 0px 130px;
}

.options {
  position: relative;
  top: 20px;
}
