<div class="background" [style.background-color]="bgColor">
  <div class="registrationArea" [style.color]="fgColor">
    <h2>Register</h2>
    <form class="registerForm">
      <table>
        <tr>
          <th>
            <label for="username">Username</label>
            <input type="text" [style.color]="fgColor" [(ngModel)]="username" name="username" id="username" class="inputField spacing" required />
          </th>
          <th>
            <label for="dateOfBirth">Date of birth(DD/MM/YYYY)</label>
            <input type="text" [style.color]="fgColor" [(ngModel)]="dateOfBirth" name="dateOfBirth" id="dateOfBirth" class="inputField spacing" required />
          </th>
        </tr>
        <tr>
          <td>
            <label for="password">Password</label>
            <input type="text" [style.color]="fgColor" [(ngModel)]="password" name="password" id="password" class="inputField spacing" required />
          </td>
          <td>
            <label for="email">Email</label>
            <input type="text" [style.color]="fgColor" [(ngModel)]="email" id="email" class="inputField spacing" required />
          </td>
        </tr>
        <tr>
          <td>
            <label for="retypePassword">Retype Password</label>
            <input type="text" [style.color]="fgColor" [(ngModel)]="retypePassword" name="retypePassword" id="retypePassword" class="inputField spacing" required />
          </td>
          <td>
            <app-slider></app-slider>
          </td>
        </tr>
      </table>
      <br />
      <button class="button center" type="submit" [style.color]="fgColor">Register</button>
    </form>
  </div>
  <button class="button toggleDM" (click)="toggleDarkmode()" [style.color]="fgColor">Toggle dark mode</button>
</div>


