.otherServices {
  position: absolute;
  left: 40%;
  top: 50px;
  height: min-content;
  width: min-content;
  padding: 20px;
}

.verticalLine {
  position: absolute;
  top: 210px;
  left: 450px;
  width: 30%;
  transform: rotate(180deg);
}

.loginArea {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  left: 40%;
  top: 240px;
  width: min-content;
  height: min-content;
  padding: 20px;
}

.options {
  position: relative;
  top: 20px;
}
