<div class="background">
  <div class="otherServices">
    <button class="button">
      <p class="content">{{goggleBtnText}}</p>
    </button>
    <button class="button">
      <p class="content">{{facebookBtnText}}</p>
    </button>
  </div>
  <hr class="verticalLine"/>

  <div class="loginArea">
    <form>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" class="inputField" required />
      <label for="password">Password</label>
      <input type="text" name="password" id="password" class="inputField" required />
      <button class="button" type="submit">Login</button>
    </form>

     <div class="options">
        <a href="">Reset Password</a>
        <p>Don´t you have account? <a routerLink="registration" class="underlineLink">Create one</a></p> 
     </div>
   </div>
</div>
